.idea
vendor

/bin/*
!bin/console

!var
/var/cache/*
/var/logs/*
/var/sessions/*
/var/infection/*
/var/coverage/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
